<div class="footer">
  <div class="footer-content">
    <div class="footer-socials">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>
    <div style="display: flex; flex: 1;">
      <div class="footer-menu-one footer-menu">
        <%= link_to 'SHOP', '#' %>
        <%= link_to 'ACCOUNT', '#' %>
        <%= link_to 'HOW IT WORKS', '#' %>
        <%= link_to 'ABOUT US', '#' %>
      </div>
      <div class="footer-menu-two footer-menu">
        <%= link_to 'SHOP', '#' %>
        <%= link_to 'ACCOUNT', '#' %>
        <%= link_to 'HOW IT WORKS', '#' %>
        <%= link_to 'ABOUT US', '#' %>
      </div>
    </div>
    <div style="display: flex; flex: 1;">
      <div class="footer-contact footer-menu">
        <p class="footer-text">CONTACT</p>
        <div class="contact-items">
          <p class="footer-sub-headers">PHONE</p>
          <a href="#">02084757438</a>
        </div class="contact-items">
        <div class="contact-items">
          <p class="footer-sub-headers">EMAIL</p>
          <a href="#">email@address.com</a>
        </div>
      </div>
      <div class="footer-contact footer-menu">
        <p class="footer-text">EXTRAS</p>
        <%= link_to 'PRIVACY POLICY', '#' %>
        <%= link_to 'TERMS & CONDITIONS', '#' %>
      </div>
    </div>
  </div>
</div>
