<div id="each_product" class="product-card">
  <div id="product_card_image_<%= shirt.id %>" class="product-card-image-container">
    <%= image_tag "shirt-#{@num}.png", id: "each_product_main_image", class: "product-card-image" %>
    <%= image_tag @fabrics.sample, class: "product-card-image hover-image" %>
  </div>
  <div class="product-card-content">
    <p class="product-title"><%= shirt.name.upcase %></p>
    <p class="product-material"><%= shirt.cuff %></p>
    <p class="product-price"><%= humanized_money_with_symbol(shirt.price) %></p>
    <div class="shirt-fabrics-container">
      <% shirt.shirt_fabrics.each do |shirt_fabric| %>
        <%= render 'components_shirt_fabrics_card', shirt: shirt, shirt_fabric: shirt_fabric %>
      <% end %>
    </div>
  </div>
</div>
<% @num += 1 %>
