<h1>COMPONENTS</h1>

<h3>Product cards</h3>

<div class="product-card-container">
<!--   <div class="product-card">
    <div class="product-card-image-container">
      <%#= image_tag 'shirt-guy.jpeg', class: "product-card-image" %>
    </div>
    <div class="product-card-content">
      <p class="product-title">THE BIRSEYE FLANNEL SHIRT IN SKY BLUE</p>
      <p class="product-material">100% Cotton</p>
      <p class="product-price">$295</p>
      <div class="shirt-fabrics-container">
        <div class="shirt-fabrics">

        </div>
      </div>
    </div>
  </div> -->
  <div id="each_product" class="product-card">
    <div class="product-card-image-container">
      <%= image_tag 'shirt-guy.jpeg', id: "each_product_main_image", class: "product-card-image" %>
    </div>
    <div class="product-card-content">
      <p class="product-title">THE BIRSEYE FLANNEL SHIRT IN SKY BLUE</p>
      <p class="product-material">100% Cotton</p>
      <p class="product-price">$295</p>
      <div class="shirt-fabrics-container">
        <div class="shirt-fabrics">
          <%= image_tag 'fabric.png', class: "product-thumbnail" %>
        </div>
        <div class="shirt-fabrics">
          <%= image_tag 'fabric.png', class: "product-thumbnail" %>
        </div>
        <div class="shirt-fabrics">
          <%= image_tag 'fabric.png', class: "product-thumbnail" %>
        </div>
        <div class="shirt-fabrics">
          <%= image_tag 'fabric.png', class: "product-thumbnail" %>
        </div>
        <div class="shirt-fabrics">
          <%= image_tag 'fabric.png', class: "product-thumbnail" %>
        </div>
        <div class="shirt-fabrics"></div>
        <div class="shirt-fabrics"></div>
        <div class="shirt-fabrics"></div>
        <div class="shirt-fabrics"></div>
        <div class="shirt-fabrics"></div>
        <div class="shirt-fabrics"></div>
        <div class="shirt-fabrics"></div>
      </div>
    </div>
  </div>
<!--   <div class="product-card">
    <div class="product-card-image-container">
      <%#= image_tag 'shirt-guy.jpeg', class: "product-card-image" %>
    </div>
    <div class="product-card-content">
      <p class="product-title">THE BIRSEYE FLANNEL SHIRT IN SKY BLUE</p>
      <p class="product-material">100% Cotton</p>
      <p class="product-price">$295</p>
      <div class="shirt-fabrics-container">
        <div class="shirt-fabrics">

        </div>
      </div>
    </div>
  </div>
  <div class="product-card">
    <div class="product-card-image-container">
      <%#= image_tag 'shirt-guy.jpeg', class: "product-card-image" %>
    </div>
    <div class="product-card-content">
      <p class="product-title">THE BIRSEYE FLANNEL SHIRT IN SKY BLUE</p>
      <p class="product-material">100% Cotton</p>
      <p class="product-price">$295</p>
      <div class="shirt-fabrics-container">
        <div class="shirt-fabrics">
        </div>
      </div>
    </div>
  </div> -->
</div>

<h3>Carousel</h3>

<script>

  productCard = document.getElementById('each_product');
  productMainImage = document.getElementById('each_product_main_image');
  productThumbnail = document.querySelectorAll('.product-thumbnail');
  originalSrcImage = productMainImage.src;

  productCard.addEventListener('mouseover', () => {
    productMainImage.src = productThumbnail[0].src;
  })

  productCard.addEventListener('mouseleave', () => {
    productMainImage.src = originalSrcImage;
  })

</script>
